<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title_admin_movies}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin_page_movies.css}"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>
    <div id="wrapper">
        <header>
            <div class="home">
                <a th:href="${T(ru.kinolink.web.webapp.Url).HOME}" th:text="#{button_back_to_home}"></a>
            </div>

            <div class="logout">
                <a th:href="${T(ru.kinolink.web.webapp.Url).LOGOUT}" th:text="#{button_exit}"></a>
            </div>
        </header>
    </div>

    <div class="block">
        <div id="navigation">
            <ul>
                <li><a th:href="${T(ru.kinolink.web.webapp.Url).ADMIN_PAGE_MOVIES}" th:text="#{button_movies}"></a></li>
                <li><a th:href="${T(ru.kinolink.web.webapp.Url).ADMIN_PAGE_PERSONS}" th:text="#{button_persons}"></a></li>
                <li><a th:href="${T(ru.kinolink.web.webapp.Url).ADMIN_PAGE_SETTINGS}" th:text="#{button_settings}"></a></li>
            </ul>
        </div>
    </div>

    <div id="content">
        <div class="movies">
            <div id=add-movie>
                <a class="btn btn-primary"
                   th:href="${T(ru.kinolink.web.webapp.Url).ADMIN_ADD_MOVIE}" th:text="#{button_add_movie}"></a>
            </div>

            <div id="search">
                <div id="search-panel">
                    <form action="movies" method="get" id="searchForm">

                        <div class="input-group">
                            <input type="text" th:value="${search}"  name="search" id="search-query" class="form-control">
                            <span class="input-group-btn">
									<button class="btn btn-primary" id="btn-search" type="submit" th:text="#{button_search}">
										<i class="fa fa-search"></i>
									</button>
                            </span>
                        </div>
                    </form>
                </div>

                <div>
                    <form accept-charset="UTF-8" action="movies" method="get">
                        <div style="display: none"></div>

                        <label><a th:text="#{label_sort}"></a>:
                            <select id="sort" class="select" name="sort" onchange="$(this).parent().parent().submit();">
                            <option value="id" th:text="#{label_date_added}"></option>
                            <option th:each="sortItem : ${sorts}" th:value="${sort}"
                                    th:selected="${sortItem == sort}" th:text="${sortItem}"></option>
                            </select>
                        </label>

                        <label><a th:text="#{label_country}"></a>:
                            <select id="country-selector" class="select" name="country" onchange="$(this).parent().parent().submit();">
                            <option value="0" th:text="#{select_country_any}"></option>
                            <option th:each="country : ${countries}" th:value="${country.id}"
                                    th:selected="${country.id == countryId}" th:text="${country.getName()}"></option>
                            </select>
                        </label>

                        <label><a th:text="#{label_genre}"></a>:
                            <select id="genre" name="genre" class="select" onchange="$(this).parent().parent().submit();">
                                <option value="0" th:text="#{select_genre_any}"></option>
                                <option th:each="genre : ${genres}" th:value="${genre.id}"
                                        th:selected="${genre.id == genreId}" th:text="${genre.getTitle()}"></option>
                            </select>
                        </label>
                    </form>

                </div>
            </div>

            <div id="catalog_content">
                <div class="movie-item" th:each="movieItem : ${movies}">
                    <a th:href="${T(ru.kinolink.web.webapp.Url).ADMIN_PAGE_MOVIE}+${movieItem.id}">
                        <!--<img th:alt="${movieItem.title}" class="cover"
                             th:src="${movieItem.picturePath != null && !movieItem.picturePath.isEmpty()} ? ${T(ru.kinolink.web.webapp.Url.GET_IMAGE}+${movieItem.picturePath}
                             : ${T(ru.kinolink.web.webapp.Url).IMAGE_NOT_FOUND}">-->
                        <img th:alt="${movieItem.title}" class="cover"
                             th:src="${movieItem.picturePath != null && !movieItem.picturePath.isEmpty()} ? ${T(ru.kinolink.web.webapp.Url).IMAGE_NOT_FOUND}
                             : ${T(ru.kinolink.web.webapp.Url).IMAGE_NOT_FOUND}">
                        <span class="title" th:text="${movieItem.title}"></span>
                    </a>
                    <span class="add-info"><a th:text="${#dates.format(movieItem.releaseDate, 'yyyy')}"></a>
                        <span class="imdb" th:text="#{label_imdb}"></span> <a th:text="${movieItem.imdb}"></a>,
                    </span>
                    <span th:text="${movieItem.getGenreString()}"></span>
                </div>

                <script type="text/javascript">
                    $('#pagination')
                        .pagination(
                            {
                                items : "${pageCount}",
                                itemOnPage : 8,
                                currentPage : "${page}",
                                displayedPages : 4,

                                hrefTextPrefix : "?sort=${sort}&country=${country}&genre=${genre}&search=${search}&page=",

                                prevText : '<span aria-hidden="true">&laquo;</span>',
                                nextText : '<span aria-hidden="true">&raquo;</span>',
                                onInit : function() {
                                    // fire first page loading
                                },
                                onPageClick : function(page, evt) {
                                    // some code
                                }
                            });
                </script>

            </div>

        </div>
    </div>

</body>
</html>